<h1>Welcome to kubosch.no</h1>

<p>
This is the internal web of Kubosch Consulting and the private web of the Kubosch family, location Kurland.
</p>


<h2>Links</h2>

<ul>
  <li><a href="usage">Webalizer</a></li>
  <li>MRTG
    <ul>
      <li><a href="mrtg/local.html">Local Ethernet</a></li>
      <li><a href="mrtg/gateway_external.html">Gateway External Line</a></li>

      <li><a href="mrtg/gateway_internal.html">Gateway Ethernet</a></li>
  </li>
</ul>
