<h1>Welcome to kubosch.no</h1>

<p>
This is the internal web of Kubosch Consulting and the private web of the Kubosch family, location Kurland.
</p>


Julegavelisten er <%=link_to 'her', 'http://backlog.kubosch.no/backlogs/show/6'%>!