<%= error_messages_for 'news_item' %>

<!--[form:news_item]-->
<p><label for="news_item_title">Title</label><br/>
<%= text_field 'news_item', 'title'  %></p>

<p><label for="news_item_body">Body</label><br/>
<%= text_area 'news_item', 'body'  %></p>
<!--[eoform:news_item]-->

