[Unit]
Description=KC front web application

[Service]
Type=forking
User=capistrano
Group=capistrano
WorkingDirectory=/u/apps/front/current
ExecStart=/u/apps/sports/current/front start
PIDFile=/u/apps/front/shared/pids/server.pid

# Timeout for start up/shut down
TimeoutSec=300

[Install]
WantedBy=multi-user.target
