<!--[form:site]-->
<p><label for="site_title">Title</label><br/>
<%= text_field 'site', 'title'  %></p>

<p><label for="site_welcome_text">Welcome text</label><br/>
<%= text_area 'site', 'welcome_text'  %></p>
<!--[eoform:site]-->

